<div class="container mt-5">
    <div class="alert alert-danger">
        <h1>Giriş Qadağandır!</h1>
        <p>Sizin bu səhifəyə daxil olmaq üçün səlahiyyətiniz yoxdur.</p>
        <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Ana Səhifəyə Qayıt</a>
    </div>
</div>